<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fish tank pump</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </link>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" >
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="css/app.css"></script>
</head>

<body>
  <div class="container">
    <div class="panel panel-default ">
      <div class="insidePanel topBar">
      <div>
        <button id="pump" data-led="2" type="button" class="btn btn-danger">Pump Off</button>
      </div>
      <div>
        <button id="feedFish" data-led="2" type="button" class="btn btn-danger">Feed Fish</button>
      </div>
      <div>
        <h1>Tessel watering and fish feeding</h1>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Pump Timer</h3>
    </div>
    <div class="panelContainer">
      <div id="time" class="timeSelect">
        <h4>Start Time</h4>
        <div class="selectTimeDropdowns"
          <p>Hour </p>
          <select id="hours">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
        <p>Minutes </p>
        <select id="minutes">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="39">38</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
          <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
        </select>
      </div>
      </div>
      <div class=""><h4>Duration</h4>
        <select id="duration">
          <option value="1">1 minute</option>
          <option value="2">2 minutes</option>
          <option value="3">3 minutes</option>
          <option value="4">4 minutes</option>
          <option value="5">5 minutes</option>
        </select>
      </div>
      <div class=""><h4>Frequency</h4>
        <select id="frequency">
          <option value="8">every day</option>
        </select>
      </div>
      <div class="">
      <button id="setTimer" type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
    </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Fish Feeder Timer</h3>
  </div>
  <div class="panelContainer">
    <div id="time" class="timeSelect">
      <h4>Start Time</h4>
      <div class="selectTimeDropdowns"
        <p>Hour </p>
        <select id="fishhours">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      <p>Minutes </p>
      <select id="fishminutes">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="39">38</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
      </select>
    </div>
    </div>
    <div class=""><h4>Feeds</h4>
      <select id="feeds">
        <option value="1">1 Times</option>
        <option value="2">2 Times</option>
        <option value="3">3 Times</option>
        <option value="4">4 Times</option>
        <option value="5">5 Times</option>
      </select>
    </div>
    <div class=""><h4>Frequency</h4>
      <select id="fishfrequency">
        <option value="8">every day</option>
      </select>
    </div>
    <div class="">
    <button id="setFishFeederTimer" type="button" class="btn btn-success" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
  </div>
</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Timers</h3>
      </div>
      <div class="panelContainer">
        <div id="timerValue" class="">
        </div>
      </div>
    </div>
</div>
  <script src="js/moment.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
