<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fish tank pump</title>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" >
        </script>
</head>
<body>
  <h1>Hello from Tessel!</h1>
  <p>Press a button to turn pump on or off.</p>
  <ul>
    <li>
      <button id="pump" data-led="2">Pump</button>
      Status: <span class="led-status"></span>
    </li>
  </ul>
  <div id="currentTime" </div>
  <script type="text/javascript">
      // Add eventlistener to button
      var button = document.getElementById('pump');
      button.addEventListener('click', togglePump);


      function togglePump (event) {
        console.log('call event');
        var button = event.target;
        var statusNode = button.parentNode.querySelector('.led-status');

      //  $.get('/pump/', null, function(data){
        //  $('#results').html(data);
      //  });

        var req = new XMLHttpRequest();
        req.onreadystatechange = function(e) {
          if (req.readyState == 4 && req.status == 200) {
            if (req.status == 200) {
              var response = JSON.parse(req.responseText);
              statusNode.textContent = response.on ? 'ON' : 'OFF';
            } else {
              console.log('Error');
            }
          }
        }
        req.open('GET', '/pump/', true);
        req.send();
        }

        var currentdate = new Date();
        var datetime =
                + currentdate.getHours() + ":"
                + currentdate.getMinutes();
        document.getElementById('currentTime').innerHTML = datetime;

    </script>
    <div id="results"></div?
</body>
</html>
